# Analiza_atributos_1.0

En este script analizamos como se comportan los atributos, a saber, que valores toman, como se repiten, etc

In [1]:
import pandas as pd
import numpy as np

df_inc=pd.read_csv('../DATASETS/AHOGADOS/CSV/historico_incidentes_estaciones_meteo.csv',sep='|',error_bad_lines=False)
df_inc=df_inc.replace('Sin datos', np.NaN)
df_inc=df_inc.replace('Sin Datos', np.NaN)
#df_inc=df_inc[df_inc.CCAA != 'CANARIAS']

In [2]:
df_inc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6482 entries, 0 to 6481
Data columns (total 41 columns):
Fecha               6482 non-null object
IdAhogado           6482 non-null int64
IdPersona           6482 non-null int64
Localidad           6482 non-null object
Provincia           6482 non-null object
CCAA                6482 non-null object
Hora                5381 non-null object
Latitud             6482 non-null float64
Longitud            6482 non-null float64
Sexo                6231 non-null object
Edad                5366 non-null float64
Nacionalidad        6394 non-null object
Origen              3813 non-null object
Extraccion          6383 non-null object
Causa               4516 non-null object
TipoAhogamiento     6459 non-null object
Factor              2885 non-null object
Intervencion        6409 non-null object
Pronostico          6474 non-null object
Localizacion        6478 non-null object
Riesgo              2646 non-null object
Reanimacion         6300 non-null object
Vigilancia          6459 non-null object
Actividad           6200 non-null object
Deteccion           6367 non-null object
ID                  6482 non-null int64
Estacion            6482 non-null object
Estado_x            6482 non-null object
Latitud_y           6482 non-null float64
Longitud_y          6482 non-null float64
T_med               6482 non-null float64
T_max               6482 non-null float64
T_min               6482 non-null float64
Precipitaciones     6482 non-null float64
Presion             6482 non-null object
Dir. vi.            6482 non-null object
V_Viento            6482 non-null int64
Nub.                6482 non-null object
Prof. nieve (cm)    6482 non-null object
Insolac. (horas)    4393 non-null object
Distancia           6482 non-null float64
dtypes: float64(10), int64(4), object(27)
memory usage: 2.0+ MB

In [3]:
df_Nacionalidad=df_inc.groupby(['Nacionalidad']).size().to_frame(name="counts")
df_Nacionalidad=df_Nacionalidad.sort_values(by=['counts'],ascending=False).reset_index()
df_Nacionalidad['Rel']=df_Nacionalidad['counts']/6394*100
df_Nacionalidad.head(n=50)
#6394

     Nacionalidad  counts        Rel
0          España    5212  81.513919
1        Alemania     227   3.550203
2         Francia     165   2.580544
3     Reino Unido     160   2.502346
4       Marruecos      60   0.938380
5           Rusia      50   0.781983
6         Rumanía      47   0.735064
7         Holanda      37   0.578668
8         Bélgica      32   0.500469
9          Italia      32   0.500469
10       Portugal      26   0.406631
11         Suecia      21   0.328433
12        Polonia      21   0.328433
13        Irlanda      18   0.281514
14          Suiza      17   0.265874
15        Noruega      14   0.218955
16        Senegal      14   0.218955
17       Colombia      11   0.172036
18       Lituania      11   0.172036
19        Ecuador      11   0.172036
20      Venezuela      10   0.156397
21            USA      10   0.156397
22      Argentina      10   0.156397
23        Chequia      10   0.156397
24      Finlandia       9   0.140757
25        Austria       9   0.140757
26        Ucrania       9   0.140757
27      Dinamarca       8   0.125117
28          China       7   0.109478
29       Bulgaria       6   0.093838
30         Brasil       6   0.093838
31        Uruguay       5   0.078198
32       Honduras       5   0.078198
33        Hungría       5   0.078198
34        Argelia       5   0.078198
35     Sudamérica       5   0.078198
36   Subsahariano       5   0.078198
37     Cabo Verde       4   0.062559
38       Paraguay       4   0.062559
39        Turquía       4   0.062559
40         Líbano       4   0.062559
41        Bolivia       4   0.062559
42     Luxemburgo       3   0.046919
43      Indonesia       3   0.046919
44      Eslovenia       3   0.046919
45       Asiatico       3   0.046919
46       Pakistán       2   0.031279
47  Guinea Bissau       2   0.031279
48         Guinea       2   0.031279
49         Gambia       2   0.031279

In [23]:
df_Origen=df_inc.groupby(['Origen']).size().to_frame(name="counts")
df_Origen=df_Origen.sort_values(by=['counts'],ascending=False).reset_index()
#df_Origen['Mortal']=df_inc[df_inc.Pronostico = 'Ahogamiento mortal'].count() 
df_inc['Pronostico'].map(lambda x: x='Ahogamiento mortal').count()

df_Origen['Rel']=df_Origen['counts']/3813*100
df_Origen.head(n=99)
#3813

SyntaxError: invalid syntax (<ipython-input-23-95ab0a86ce78>, line 3)

In [24]:
#df_inc['Pronostico'].map(lambda x: x='Ahogamiento mortal').count()


df_inc.groupby('Origen').apply(lambda g: pd.Series(g['Origen'].unique()).str.startswith("T").sum())

SyntaxError: lambda cannot contain assignment (<ipython-input-24-2926e54dfcfd>, line 1)

In [5]:
df_Extraccion=df_inc.groupby(['Extraccion']).size().to_frame(name="counts")
df_Extraccion=df_Extraccion.sort_values(by=['counts'],ascending=False).reset_index()
df_Extraccion['Rel']=df_Extraccion['counts']/6383*100
df_Extraccion.head(n=99)
#6383

                           Extraccion  counts        Rel
0   Cuerpo de Seguridad o Emergencias    2015  31.568228
1                          Socorrista    1581  24.768917
2                           Ciudadano    1268  19.865267
3        Acompañante, familiar, amigo     470   7.363309
4              Embarcación de rescate     281   4.402319
5                         Helicoptero     235   3.681654
6               Fuerzas orden publico     219   3.430989
7               No preciso extraccion     104   1.629328
8                 Embarcacion costera      83   1.300329
9               Embarcación de recreo      81   1.268996
10            Socorrista con material      33   0.516998
11           Moto acuática de rescate       8   0.125333
12                              Otros       4   0.062666
13                   Tabla de rescate       1   0.015667

In [6]:
df_Causa=df_inc.groupby(['Causa']).size().to_frame(name="counts")
df_Causa=df_Causa.sort_values(by=['counts'],ascending=False).reset_index()
df_Causa['Rel']=df_Causa['counts']/4516*100
df_Causa.head(n=99)
#4516

                                         Causa  counts        Rel
0               Condiciones del medio acuático    1176  26.040744
1   Accidente, caída o zambullida accidentales    1069  23.671391
2                                    Naufragio     461  10.208149
3        Riadas, desbordamientos, inundaciones     361   7.993800
4           Enfermedad, ataque cardíaco o ACVA     259   5.735164
5               Incidente o accidente de buceo     198   4.384411
6                         Accidente de Trafico     172   3.808680
7              Navegación o deportes acuáticos     164   3.631532
8                          Corriente de resaca     162   3.587245
9    Intento de rescate de personas o animales     152   3.365810
10                                    Suicidio      98   2.170062
11               Falta de competencia acuática      61   1.350753
12           Falta de supervisión o vigilancia      50   1.107174
13     Excesiva confianza o asunción de riesgo      48   1.062888
14              Drogas, alcohol, otros tóxicos      28   0.620018
15                                       Otros      26   0.575731
16                        Homicidio, Asesinato      24   0.531444
17                                Atrapamiento       7   0.155004

In [7]:
df_TipoAhogamiento=df_inc.groupby(['TipoAhogamiento']).size().to_frame(name="counts")
df_TipoAhogamiento=df_TipoAhogamiento.sort_values(by=['counts'],ascending=False).reset_index()
df_TipoAhogamiento['Rel']=df_TipoAhogamiento['counts']/6459*100
df_TipoAhogamiento.head(n=99)
#6459

                               TipoAhogamiento  counts        Rel
0                           Perdida de Control    1992  30.840687
1   Ahogado con sintomas de aspiración de agua    1880  29.106673
2                          Posible Ahogamiento    1271  19.677969
3           Ahogamiento secundario a accidente     552   8.546215
4                      Victima con traumatismo     221   3.421582
5          Ahogamiento secundario a enfermedad     192   2.972596
6          Victima sin sintomas de ahogamiento     187   2.895185
7                             Distres Acuatico      93   1.439851
8   Ahogado sin sintomas de aspiración de agua      44   0.681220
9                    Muerte previa a inmersion      15   0.232234
10                     Ahogado por hidrocucion      12   0.185787

In [8]:
df_Factor=df_inc.groupby(['Factor']).size().to_frame(name="counts")
df_Factor=df_Factor.sort_values(by=['counts'],ascending=False).reset_index()
df_Factor['Rel']=df_Factor['counts']/2885*100
df_Factor.head(n=99)
#2885

                                    Factor  counts        Rel
0      Edad, Enfermedad, Enfermedad Mental    1457  50.502600
1                 Peligrosidad del entorno     497  17.227036
2         Violación de normas de seguridad     223   7.729636
3           Navegación, deportes acuáticos     218   7.556326
4        Falta de supervisión o vigilancia     197   6.828423
5                 Drogas, Alcohol, tóxicos      97   3.362218
6       Falta de protección o equipamiento      85   2.946274
7              Intento de Rescate acuático      42   1.455806
8               Externos al medio acuático      34   1.178510
9   Desconocimiento o falta de información      27   0.935875
10            Psicológicos, roles de grupo       8   0.277296

In [9]:
df_Intervencion=df_inc.groupby(['Intervencion']).size().to_frame(name="counts")
df_Intervencion=df_Intervencion.sort_values(by=['counts'],ascending=False).reset_index()
df_Intervencion['Rel']=df_Intervencion['counts']/6409*100
df_Intervencion.head(n=99)
#6409

                                        Intervencion  counts        Rel
0  Rescate por Socorristas o personas adiestradas...    1646  25.682634
1                            Recuperación de cadaver    1397  21.797472
2          Asistencia por transeúntes no adiestrados    1395  21.766266
3   Rescate por personal adiestrado con equipamiento    1350  21.064129
4             Asistencia por transeúntes adiestrados     398   6.210017
5  Rescate por personal adiestrado con soporte de...     212   3.307848
6  Rescate y atención in situ por personal de sal...      10   0.156031
7                 Rescate y atención médica completa       1   0.015603

In [10]:
df_Pronostico=df_inc.groupby(['Pronostico']).size().to_frame(name="counts")
df_Pronostico=df_Pronostico.sort_values(by=['counts'],ascending=False).reset_index()
df_Pronostico['Rel']=df_Pronostico['counts']/6474*100
df_Pronostico.head(n=99)
#6474

                                       Pronostico  counts        Rel
0                              Ahogamiento mortal    2992  46.215632
1                       Rescate sin consecuencias    1741  26.892184
2       Ahogamiento no mortal con hospitalizacion     896  13.839975
3         Rescate y traslado a supervisión médica     535   8.263825
4                                        Lesiones     136   2.100711
5                                 Traumatismo/TRM      97   1.498301
6  Rescate con necesidad de observación posterior      48   0.741427
7                   Fallecimiento Sin Ahogamiento      29   0.447946

In [11]:
df_Riesgo=df_inc.groupby(['Riesgo']).size().to_frame(name="counts")
df_Riesgo=df_Riesgo.sort_values(by=['counts'],ascending=False).reset_index()
df_Riesgo['Rel']=df_Riesgo['counts']/2646*100
df_Riesgo.head(n=99)
#2646

                                              Riesgo  counts        Rel
0  Moderadas condiciones metereológicas o del agu...     769  29.062736
1  Malas condiciones meterológicas o del agua (Ba...     620  23.431595
2  Buenas condiciones metereológicas o del agua (...     525  19.841270
3  Excelentes condiciones, entornos cerrados o cu...     373  14.096750
4      Severas condiciones metereológicas o del agua     262   9.901738
5       Fuertes condiciones meterológicas o del agua      75   2.834467
6     Extremas condiciones metereológicas o del agua      22   0.831444

In [12]:
df_Reanimacion=df_inc.groupby(['Reanimacion']).size().to_frame(name="counts")
df_Reanimacion=df_Reanimacion.sort_values(by=['counts'],ascending=False).reset_index()
df_Reanimacion['Rel']=df_Reanimacion['counts']/6300*100
df_Reanimacion.head(n=99)
#6300

                                          Reanimacion  counts        Rel
0                                     Sin Reanimacion    2504  39.746032
1                             Recuperacion de cadaver    1433  22.746032
2                        RCP basica SOS y SVA por SEM    1020  16.190476
3                                         SVA por SEM     773  12.269841
4       RCP basica temprana por transeunte adiestrado     170   2.698413
5                       No RCP temprana y SVA por SEM     162   2.571429
6         RCP temprana por transeuntes no adiestrados     149   2.365079
7               RCP basica por socorrista en servicio      38   0.603175
8   SVB personal emergencias (policia, bomberos, e...      31   0.492063
9            RCP basica por Socorrista no en servicio      12   0.190476
10                            Asistencia hospitalaria       8   0.126984

In [13]:
df_Vigilancia=df_inc.groupby(['Vigilancia']).size().to_frame(name="counts")
df_Vigilancia=df_Vigilancia.sort_values(by=['counts'],ascending=False).reset_index()
df_Vigilancia['Rel']=df_Vigilancia['counts']/6459*100
df_Vigilancia.head(n=99)
#6459

                        Vigilancia  counts        Rel
0                      No vigilado    4421  68.447128
1         En horario de vigilancia    1787  27.666821
2  Fuera del horario de vigilancia     251   3.886050

In [14]:
df_Actividad=df_inc.groupby(['Actividad']).size().to_frame(name="counts")
df_Actividad=df_Actividad.sort_values(by=['counts'],ascending=False).reset_index()
df_Actividad['Rel']=df_Actividad['counts']/6200*100
df_Actividad.head(n=99)
#6200

                             Actividad  counts        Rel
0                  Natación recreativa    2832  45.677419
1             Actividad cerca del agua    1246  20.096774
2              Circulación en vehiculo     384   6.193548
3                  Embarcación a motor     273   4.403226
4            Pesca desde playa o rocas     239   3.854839
5    Surf-Windsurf-Esqui acuatico-Kyte     170   2.741935
6                    Piraguismo, Kayac     158   2.548387
7                  Embarcación de vela     143   2.306452
8         Buceo recreativo con botella     114   1.838710
9                       Buceo a pulmon      88   1.419355
10        Pesca o navegación comercial      83   1.338710
11                   Juegos en el agua      82   1.322581
12                          Zambullida      78   1.258065
13  Pesca recreativa desde embarcacion      62   1.000000
14                        Barranquismo      52   0.838710
15         Intento de rescate acuatico      48   0.774194
16                                Otro      38   0.612903
17                Natación competitiva      33   0.532258
18                   Buceo profesional      21   0.338710
19                    Parapente, vuelo      19   0.306452
20       Actividad acuatica organizada      19   0.306452
21                      Baño en reposo       7   0.112903
22                     Paseo en tierra       5   0.080645
23               Actividad sobre hielo       2   0.032258
24                 Transporte acuático       2   0.032258
25              Transporte no acuático       2   0.032258

In [15]:
df_Deteccion=df_inc.groupby(['Deteccion']).size().to_frame(name="counts")
df_Deteccion=df_Deteccion.sort_values(by=['counts'],ascending=False).reset_index()
df_Deteccion['Rel']=df_Deteccion['counts']/6367*100
df_Deteccion.head(n=99)
#6367

                                    Deteccion  counts        Rel
0                                   Ciudadano    2970  46.646772
1                Acompañante, familiar, amigo    1848  29.024658
2                      Socorrista en servicio    1255  19.711010
3  Servicios de emergencia, policia, bomberos     255   4.005026
4                   Socorrista no en servicio      22   0.345532
5                                        Otro      11   0.172766
6                        Personal instalacion       6   0.094236